<div class="inhead">
    <span class="logo">
        <img src="/images/logo.png" alt="logo">
        <h1>Krushi<span class="highlight">Net</span></h1>
    </span>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/marketplace">Market</a></li>
                <li><a href="/market-analysis">Market Analysis</a></li>
                <li id="authNav">
                    <!-- This will be dynamically updated by sessionManager.js -->
                    <a href="/auth/login">Login/SignUp</a>
                </li>
            </ul>
        </nav>
    </div>
</div>